<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-4.4.1-dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div>
        <h1 class="d-flex justify-content-center">Bienvenue sur le portail d'authentification</h1>

        <% if(message){ %>
            <div><%-message-%></div>
        <%}%>

        <div class="d-flex justify-content-center" style="margin-top: 2em;">
            <form action="login" method="POST">
                <div class="col">
                    <input class="form-control" type="text" id="nom" name="nom" placeholder="Votre nom">
                </div>

                <div class="col">
                    <input class="form-control" type="password" id="password" name="password" placeholder="Votre mot de passe">
                </div>

                <div class="col justify-content-center">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </form>
        </div>
        <h2 class="d-flex justify-content-right">QrCode pour l'authentification OTP</h2>
        <div><%- img -%></div>
    </div>
    
    <button class="btn btn-outline-info" onclick="redirect()">Saisir un code de dévérouillage ?</button>

  <script>
    function redirect(){
      path = window.location.href + "/../valide";
      window.location.assign(path); 
    }
    </script>
</body>
<footer>En cas de problème ou de question concernant le portail et l'utilisation des données, merci de vous adresser à l'adresse suivante : stephan.parichon@epsi.fr</footer>
</html>